.forecast-item { 
  margin-top: 30px;
  width: 190px;
  height: 275px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-shadow: 0px 0px 5px #c4c4c4;
  border-radius: 35px;
  margin-right: 19px;
  margin-left: 19px;
  cursor: pointer;
}

.forecast-item:hover {
  width: 188px;
  height: 273px; 
  border: 2px solid #76B5EC; 
  box-shadow: 0px 0px 5px #76B5EC;  
}

.forecast-item-active { 
  margin-top: 30px;
  width: 188px;
  height: 273px; 
  background: #ffffff;
  border: 2px solid #76B5EC; 
  box-shadow: 0px 0px 5px #76B5EC;  
  border-radius: 35px;
  margin-right: 19px;
  margin-left: 19px;
  cursor: pointer;
}

.day-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day-info h3 {
  margin: 0;
  margin-bottom: 10px;
  margin-top: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 16pt;
  line-height: 24px;
  color: #333333;
}

.day-info p {
  margin: 0;
  font-weight: 600;
  font-size: 9pt;
  line-height: 12px;
  color: #828282;
}

.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.weather-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
}

.weather-item span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 20pt;
  line-height: 30px;
  color: #333333;
  width: 100%;
}

.weather-item span:last-child {
  color: #828282;
}

.weather-item svg {
  margin-right: 10px;
}

.wind-info-title {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 5px;
}

.wind-info-title span {
  margin: 0;
  margin-left: 30px;
  margin-right: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: #828282;
}

.wind-info {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 18px;
  margin-right: 18px;
  text-align: center;
}

.wind-info span {
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  color: #333333;
}

.wind-info svg {
  margin: 0;
  margin-right: 10px;
}
