body {
  margin: 0;
  font-family: Montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  background-image: url("./assets/bg1.jpg"); 
  background-size: 100%;
} 

.search {
  margin-left: auto;
  margin-right: auto;
}
