body {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
  min-height: 100vh;
  height: 100%;
  font-family: Montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dae6f2;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-image: url("./assets/bg.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  color: white;
  text-align: center;
  z-index: -2;
}

.api-provider {
  position: fixed;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 95vh;
  margin-bottom: 20px;
  text-decoration: none;
  z-index: 0;
}

.api-provider a {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 12px;
  line-height: 15px;
  z-index: -1;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/Montserrat-Regular.ttf") format("truetype");
}
