.main {
  margin-top: 0px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: center;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
  margin-left: 150px;
  margin-right: 150px;
} 

.search-title { 
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #4f4f4f;
}  

@media (max-width: 800px) {
  .search-title { 
    font-size: 42px;
  line-height: 50px;
  }
}